{% extends 'base.html' %}

{% block title %}Training Company{% endblock %}

{% block content %}
<!-- Navigation Section -->
<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Students</p>
          <a href="{{ manage_students_url }}" class="button is-info is-medium">Manage Students</a>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Trainers</p>
          <a href="{{ manage_trainers_url }}" class="button is-info is-medium">Manage Trainers</a>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Courses</p>
          <a href="{{ view_courses_url }}" class="button is-info is-medium">View Courses</a>
        </div>
      </div>
    </nav>
  </div>
</section>
{% endblock %}
